@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    --main-color: #19a0fa;
    font-family: 'Montserrat', sans-serif;
}
body {
    padding: 60px 2% 2% 2%;
    font-size: 20px;
}
.divider {
    border-top: 3px solid #ccc;
    margin: 20px 0;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 95%;
    padding: 30px 0;
}
footer a {
    margin: 0 20px;
}
h1 {
    font-size: 36px;
}
header {
    border-bottom: 3px solid #bababa;
    bottom: 94%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    left: 0;
    padding: 8px 4%;
    position: absolute;
    top: 0;
    width: 92%;
}
header a {
    text-decoration: none;
}
header div {
    border: 2px solid #00000000;
    box-sizing: border-box;
    color: var(--main-color);
    cursor: pointer;
    font-size: 24px;
    padding: 6px;
}
header div.current {
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-weight: bold;
}
header img {
    border: none;
}
.submenu {
    display: none;
    position:relative;    
    background: #ffffff;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
#login_form {
    border: 2px solid #979797;
    border-radius: 2px;
    box-shadow: 0 5px 4px #c0c0c0;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 12px;
    margin: 5% auto 0 auto;
    padding: 20px 40px;
    width: fit-content;
}
#login_form .error {
    color: darkred;
    font-size: 20px;
    margin: auto;
}
#login_form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 20px;
}
#login_form form input[type="text"], #login_form form input[type="password"] {
    font-size: 20px;
    padding: 4px 12px;
}
#login_form form input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px 33px;
    transition: background-color 300ms;
    width: fit-content;
}
#login_form form input[type="submit"]:hover {
    background-color: #0483d7;
}
#login_form #passwd_reset_info {
    font-size: 18px;
    margin: 6px auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 20% 80%; /* Create a 5-column grid */
    /*width: fit-content;*/
    /*gap: 6px; Add some spacing between grid items */
}
.label {
    padding: 4px;
    font-weight: bold;
}
.textbox {
    padding: 4px;
}    
.textbox-input-long {
    width: 250px;
    font-size: large;
    height: 20px;
}
.textbox-input-medium {
    font-size: large;
    height: 20px;
    width: 115px;
}
.textbox-input-short {
    font-size: large;
    height: 20px;
    width: 70px;
}
.btn-primary {
    padding: 10px;
    font-size: large;
    background: var(--main-color);
    color:#ffffff;
    border-radius:10px;
    cursor:pointer;
    border: none;
}
.dropdown {
    padding: auto;
    width: 258px;
    font-size: large;
    height: 25px;
}