@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    --main-color: #19a0fa;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 60px 2% 2% 2%;
}

header {
    border-bottom: 4px solid #bababa;
    display: flex;
    flex-direction: row;
    gap: 2%;
    left: 0;
    padding: 8px 4%;
    position: absolute;
    top: 0;
    width: 92%;
}
header a {
    text-decoration: none;
}
header div {
    border: 2px solid #00000000;
    box-sizing: border-box;
    color: var(--main-color);
    cursor: pointer;
    font-size: 20px;
    padding: 6px;
}
header div.current {
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-weight: bold;
}
header img {
    border: none;
}

#login_form {
    border: 2px solid #979797;
    border-radius: 2px;
    box-shadow: 0 5px 4px #c0c0c0;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 12px;
    margin: 5% auto 0 auto;
    padding: 20px 40px;
    width: fit-content;
}
#login_form .error {
    color: darkred;
    font-size: 20px;
    margin: auto;
}
#login_form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 20px;
}
#login_form form input[type="text"], #login_form form input[type="password"] {
    font-size: 20px;
    padding: 4px 12px;
}
#login_form form input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px 33px;
    transition: background-color 300ms;
    width: fit-content;
}
#login_form form input[type="submit"]:hover {
    background-color: #0483d7;
}
#login_form #passwd_reset_info {
    font-size: 18px;
    margin: 6px auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Create a 2-column grid */
    width: fit-content;
    gap: 10px; /* Add some spacing between grid items */
}

.textbox {
    padding: 10px;
    border: 1px solid #ccc;
}