{% extends "base.html" %}

{% block title %}Account Management{% endblock %}
{% block body %}
    <h1>Account Management</h1>
    <div class="container">
        <div class="left-side">
            <!--<h2>Account Actions</h2>
            <button>New Account</button>
            <button>Edit/Delete</button>-->
            <h2>{{ action }}</h2>
            <br/>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% if action.lower().startswith('edit') %}
            <form method="post">
                <div class="grid-container">
                    <div class="label">
                        <label for="search_criteria" class="label">Account Search</label>
                    </div>
                    <div class="textbox">
                        <input type="text" id="to_find" name="to_find" class="textbox-input-long" placeholder="Last Name or email" autocomplete="off">
                        <input type="submit" value="Go" class="btn btn-primary">
                    </div>
                </div>
                </br>
                </form>
                <form onsubmit="return false;" id="show_search_results">
                    <div id="search_results">
                        <label for="search_results" class="label">Results</label>
                        <table border="1">
                            <tr>
                                <th></th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            {% for row in results %}
                            <tr>
                                <td>
                                    <input type="submit" value="Select" class="btn btn-primary" onclick="populateAccountForm('{{ row[2] }}');"></td>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                            </tr>
                            {% endfor %}    
                        </table>
                    </div>
                </br>
                </form>
                <style>
                    #account_form {
                        display: none;
                    }
                    /*{% if not results %}*/
                    #show_search_results {
                        display: none;
                    }
                    /*{% endif %}*/
                </style>
            {% endif %}
            <form action="{{ url_for('account_admin_page') }}{% if results %}?action=edit{% else %}?action=new{% endif %}" method="post" class="form-inline" id="account_form">
                <div class="grid-container">
                    <div class="label">
                        <label for="role">Account Type</label>
                    </div>
                    <div class="textbox">
                        <select id="role" name="role" class="form-control dropdown">
                            {% for role in roles %}
                                <option value="{{ role[0] }}">{{ role[1] }}</option>
                            {% endfor %}
                        </select>
                        <br/>
                        <br/>
                    </div>
                    <div class="textbox">
                        <div class="label">
                            <label for="setnewpasswordd">Set Password</label>
                        </div>
                    </div>

                    <div class="label">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="textbox">
                        <input type="text" id="firstName" name="firstName" class="form-control textbox-input-long" placeholder="First Name" autocomplete="off">
                    </div>
                    <div class="textbox">
                        <input type="password" id="setnewpassword" name="setnewpassword" class="form-control textbox-input-long grid-right" placeholder="new password" value="" autocomplete="off">
                    </div>
                    <div class="label">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="textbox">
                        <input type="text" id="lastName" name="lastName" class="form-control textbox-input-long"  placeholder="Last Name" autocomplete="off">
                    </div>
                    <div class="textbox">
                        <input type="password" id="setnewpassword2" name="setnewpassword2" class="form-control textbox-input-long grid-right" placeholder="verify new password" autocomplete="off">
                    </div>
                    <div class="label">
                        <label for="email">Email Address</label>
                    </div>
                    <div class="textbox">
                        <input type="email" id="email" name="email" class="form-control textbox-input-long"  placeholder="School Email Address" autocomplete="off">
                        <br/>
                        <br/>
                    </div>
                    <div class="textbox">
                        <button type="button" class="btn btn-primary" onclick="setAccountPassword();">Set Password</button>
                    </div>  
                    <div class="label">
                        <label for="homeaddress">Home Address</label>
                    </div>
                    <div class="textbox">
                        <input type="text" id="homeaddress" name="homeaddress" class="form-control textbox-input-long"  placeholder="Address line 1" autocomplete="off">
                    </div>
                    <div class="textbox">
                    </div>
                    <div class="label">
                    </div>

                    <div class="textbox">
                        <input type="text" id="secondhomeaddress" name="secondhomeaddress" class="form-control  textbox-input-long"  placeholder="Address line 2" autocomplete="off">
                    </div>
                    <div class="textbox">
                    </div>
                    <div class="label">
                        <label for="city">City</label>
                    </div>
                    <div class="textbox">
                        <input type="text" id="city" name="city" class="form-control textbox-input-long"  placeholder="City" autocomplete="off">
                    </div>
                    <div class="textbox">
                    </div>

                    <div class="label">
                        <label for="state">State</label>                   
                    </div>
                    <div class="textbox">
                        <input type="text" id="state" name="state" class="form-control textbox-input-short"  placeholder="State" autocomplete="off">
                        <label for="zipcode" class="label" style="padding-left: 10px;">Zip</label>
                        <input type="text" id="zipcode" name="zipcode" class="form-control textbox-input-medium"  placeholder="Zip Code" autocomplete="off">
                    </div>
                    <div class="textbox">
                    </div>

                </div>
                <div>
                    <br/>
                <button type="submit" class="btn btn-primary">{% if action.lower().startswith('edit') %}Save Account{% else %}Create Account{% endif %}</button>
                <input type="hidden" id="addressid" name="addressid" display="none" autocomplete="off">
                <input type="hidden" id="accountsid" name="accountsid" display="none" autocomplete="off">
            </div>
            </form>
         </div>
        <!-- Show different right-side content based on selection -->
        <div id="rightSideNewStudent" class="right-side" style="display: none;">
            <h2>Degree</h2>
            <div class="form-group">
                <label for="courses">Courses:</label>
                <select id="courses">
                    <!-- Dropdown options for courses -->
                </select>
            </div>
            <div class="form-group">
                <label for="classes">Classes:</label>
                <input type="text" id="classes" autocomplete="off">
            </div>
        </div>
        <div id="rightSideNewFaculty" class="right-side" style="display: none;">
            <h2>Faculty Member Class Association</h2>
            <!-- Display course codes here -->
            <ul>
                <li>Course filler</li>
            </ul>
            <button>Select Class</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    // This is to populate the account form when editing
    function populateAccountForm(email) {
        // clear error element
        //TODO - request feedback from the server
        fetch("{{ url_for('api.authenticate_and_get_details') }}?email=" + email).then(
            (results) => {results.json().then(
                (results) => {
                    results = results.account;
                    console.log(results);
                    document.getElementById('accountsid').value = results[4]
                    document.getElementById('role').value = results[3]
                    document.getElementById('firstName').value = results[0]
                    document.getElementById('lastName').value = results[1]
                    document.getElementById('email').value = results[2]
                    document.getElementById('homeaddress').value = results[6]
                    document.getElementById('addressid').value = results[5]
                    document.getElementById('secondhomeaddress').value = results[7]
                    document.getElementById('city').value = results[8]
                    document.getElementById('state').value = results[9]
                    document.getElementById('zipcode').value = results[10]
                }
            )}
        )
        // if the account exists:
        document.getElementById('show_search_results').style.display='none';
        document.getElementById('account_form').style.display='block';
        // else pull up an error
    }
    function setAccountPassword() {
        var newPassword = document.getElementById('setnewpassword').value
        alert(newPassword)
    }
</script>

<script>
    function showHideRightSide(selectElement) {
        var rightSideNewStudent = document.getElementById('rightSideNewStudent');
        var rightSideNewFaculty = document.getElementById('rightSideNewFaculty');

        if (selectElement.value === 'newstudent') {
            rightSideNewStudent.style.display = 'block';
            rightSideNewFaculty.style.display = 'none';
        } else if (selectElement.value === 'newfaculty') {
            rightSideNewStudent.style.display = 'none';
            rightSideNewFaculty.style.display = 'block';
        } else {
            rightSideNewStudent.style.display = 'none';
            rightSideNewFaculty.style.display = 'none';
        }
    }
</script>
{% endblock %}
