{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block body %}
<div id="login_form">
    <div>Welcome to Student Management Online</div>
    <form action="{{ url_for('login') }}" method="post">
        <label for="email">Log In</label>
        <input id="email" name="email" type="text" autocomplete="email" placeholder="School Email Address">
        <input name="password" type="password" autocomplete="current-password" placeholder="Password">
        <input type="submit" value="Log In">
        <!--TODO: 2FA -->
    </form>
    <div id="passwd_reset_info">Forgot your password? Please contact your school's IT department.</div>
</div>
{% endblock %}