<form autocomplete="off" id="COURSE_FORM" method="post" action="{{ url_for('api.authenticate_and_manage_course') }}">
    <div id="errors" style="padding-top: 3%;"></div>
    <h2>Degree Path:</h2>
    <div class="on-left">
        <span><label for="class-code">Class Code:</label></span>
        <select name="class-id" id="class-code" onchange="compose();" required>
            <option disabled {{ "selected" if not chosen_class else "" }} value=""> -- Select Class -- </option>
            <option value="__new__"> -- Add New Class -- </option>
            {% for class_id, class_code in course_list %}
            <option value="{{ class_id }}" {{ "selected" if class_id == chosen_class else "" }}>{{ class_code }}</option>
            {% endfor %}
        </select>
            <label id="new-class-code-spacer" style="display: none;">New Class Code:</label>
            <input required disabled id="new-class-code" style="display: none;" name="new-class-code">
        <label for="class-name">Class Name:</label>
        <input required type="text" id="class-name" name="class-name" value="{{ class_name if class_name else '' }}">
        <!-- <label for="num-students">Number of Students:</label>
        <input type="number" id="num-students" name="num-students" min="1" max="20" value="{{ num_students if num_students else '' }}"> -->
        <label for="start-date">Start Date:</label>
        <input name="start-date" id="start-date" type="date" value="{{ start_date if start_date else '' }}" required>
        <label for="end-date">End Date:</label>
        <input name="end-date" id="end-date" type="date" value="{{ end_date if end_date else '' }}" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50" style="resize: none;">{{ description if description else '' }}</textarea>
        <label for="professor">Professor:</label></span>
        <select name="professor" id="professor" required>
            <option disabled {{ "selected" if not current_professor else "" }} value=""> -- Select Professor -- </option>
            {% for first_name, last_name, id in professors %}
            <option value="{{ id }}" {{ "selected" if current_professor == id else "" }}>{{ last_name }}, {{ first_name }}</option>
            {% endfor %}
        </select>
        <span></span>
        <input type="submit" value="Submit">
    </div>
    <div>
        <select name="degree-path" id="degree-path" multiple style="height: 100%;">
            {% for category in "Engineering,Design,Computer Science,Business Administration,Information Technology".split(',') %}
            <optgroup label="{{ category }}">
                {% for degree_id, degree_title, degree_category in degrees %}
                {% if degree_category == category %}
                    <option value="{{ degree_id }}" {{ "selected" if degree_paths and degree_id in degree_paths.split(',') else '' }}>{{ degree_title }}</option>
                {% endif %}
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
    </div>
</form>