<form onsubmit="submitCourse(); return false;">
    <span></span>
    <h2>Degree Path:</h2>
    <div class="on-left">
        <span><button id="new_course" onclick="newCourseSelectToggle();">(+)</button> <label for="class-code">Class Code:</label></span>
        <select name="class-code" id="class-code" onchange="compose();">
            <!-- TODO get a list of all classes -->
        </select>
            <label id="new-class-code-spacer" style="display: none;"></label>
            <input id="new-class-code" style="display: none;">
        <label for="class-name">Class Name:</label>
        <input type="text" id="class-name" name="class-name" value="{{ class_name if class_name else '' }}">
        <label for="num-students">Number of Students:</label>
        <input type="number" id="num-students" name="num-students" min="1" max="20" value="{{ num_students if num_students else '' }}">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50">{{ description if description else '' }}</textarea>
        <label for="professor">Professor:</label></span>
        <select name="professor" id="professor">
            <!-- TODO get a list of all professors -->
        </select>
        <span></span>
        <input type="submit" value="Submit">
    </div>
    <div>
        <select name="degree-path" id="degree-path" multiple style="height: 100%;">
            <optgroup label="Engineering">
                <option {{ "selected" if "Civil" in degree_path else '' }}>Civil</option>
                <option {{ "selected" if "Biochemical" in degree_path else '' }}>Biochemical</option>
                <option {{ "selected" if "Electrical" in degree_path else '' }}>Electrical</option>
            </optgroup>
            <optgroup label="Computer Science">
                <option {{ "selected" if "Security" in degree_path else '' }}>Security</option>
                <option {{ "selected" if "Software Engineering" in degree_path else '' }}>Software Engineering</option>
                <option {{ "selected" if "IC Design" in degree_path else '' }}>IC Design</option>
            </optgroup>
        </select>
    </div>
</form>