{% extends "base.html" %}
{% block title %}Manage Courses{% endblock %}
{% block body %}
    <div id="courses_manage_container">
        {% include 'courses/_compose_course_details.html' %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    function compose() {
        if (document.getElementById('new-class-code').style.display === 'none') {
            class_code = document.getElementById('class-code').value;
            new_class = false;
        } else {
            class_code = document.getElementById('new-class-code').value;
            new_class = true;
        }
        fetch("{{ url_for('api.compose_course_manage_form') }}?class_code=" + class_code + "&new_class=" + new_class).then((response) => {
            response.text().then((body) => {
                if (response.status != 200) {
                    document.getElementById("errors").innerText = body
                } else {
                    document.getElementById('courses_manage_container').innerHTML = body;
                }
            });
        });
    }

    function newCourseSelectToggle() {
        if (document.getElementById('new-class-code').style.display === 'none'){
            document.getElementById('new-class-code-spacer').style.display = 'block';
            document.getElementById('new-class-code').style.display = 'block';
            document.getElementById('class-code').disabled = true;
        } else {
            document.getElementById('new-class-code-spacer').style.display = 'none';
            document.getElementById('new-class-code').style.display = 'none';
            document.getElementById('class-code').disabled = false;
        }
    }

    function submitCourse() {
        //
    }
</script>
{% endblock %}
