{% extends "base.html" %}
{% block title %}Manage Courses{% endblock %}
{% block body %}
    <div id="courses_manage_container">
        {% include 'courses/_compose_course_details.html' %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    function compose() {
        if (document.getElementById('class-code').value === '__new__') {
            document.getElementById('new-class-code').disabled = false;
            document.getElementById('new-class-code-spacer').style.display = 'block';
            document.getElementById('new-class-code').style.display = 'block';
            for (let el of document.getElementById("COURSE_FORM").elements) if (el.type !== 'submit') el.value = null;
            document.getElementById('class-code').value = '__new__';
            document.getElementById('professor').value = '';
        } else {
            var class_code = document.getElementById('class-code').value;
            document.getElementById('new-class-code').disabled = true;
            document.getElementById('new-class-code-spacer').style.display = 'none';
            document.getElementById('new-class-code').style.display = 'none';
            fetch("{{ url_for('api.compose_course_manage_form') }}?class_code=" + class_code).then((response) => {
                response.text().then((body) => {
                    if (response.status != 200) {
                        document.getElementById("errors").innerText = body
                    } else {
                        document.getElementById('courses_manage_container').innerHTML = body;
                    }
                });
            });
        }
    }

    function newCourseSelectToggle() {
        if (document.getElementById('new-class-code').style.display === 'none'){
            document.getElementById('new-class-code-spacer').style.display = 'block';
            document.getElementById('new-class-code').style.display = 'block';
            document.getElementById('class-code').disabled = true;
        } else {
            document.getElementById('new-class-code-spacer').style.display = 'none';
            document.getElementById('new-class-code').style.display = 'none';
            document.getElementById('class-code').disabled = false;
        }
    }

    function submitCourse() {
        document.getElementById()
    }
</script>
{% endblock %}
