{% extends "base.html" %}

{% block title %}Manage Grades & Attendance{% endblock %}

{% block body %}
<div id="grades_manage_container">
    <div class="on-left">
            <h2>
            Select Student
            </h2>
                <div>
                    <select name="student-list" id="student-list" multiple style="height: 100%;">
                        <optgroup label="Students:">
                        </optgroup>
                    </select>
                </div>
                    <h2>
                    Select Course
                    </h2>
                        <div>
                            <select name="course-select" id="course-select" multiple style="height: 100%;">
                                <optgroup label="Course:">
                                </optgroup>
                            </select>
                        </div>
    </div>
        <form onsubmit="return false;">
            <label for="assignment">Assignment:</label>
            <option id="assignment"></option>
            <label for="score">Score:</label>
            <input id="score">
            <label for="grade">Student's Overall Grade:</label>
            <input id="grade">
            <span></span>
            <span></span>
            <label for="date">Select Date</label>
            <input id="date" type="date">
            <span></span>
            <div>
                <label for="present">Present:</label>
                <input id="present" name="present" type="radio">
                <br>
                <label for="absent">Absent:</label>
                <input id="absent" name="present" type="radio">
            </div>
                <div>
                   <span></span>
                   <button type="submit" class="btn btn-primary">Submit</button>
               </div>
        </form>
</div>
{% endblock %}
