<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>School Management System</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_default.ico') }}">
    </head>

    <body>
        <header>
            <a><img src="{{ url_for('static', filename='logo.jpg') }}" height="40px" width="40px" /></a>
            <a href="{{ url_for('index') }}"><div class="current" >Home</div></a>
            <a href="{{ url_for('login') }}"><div>Log In</div></a>
        </header>
        <div id="content">
            <h1>Welcome to {{ school_name }}</h1>
            <p>
                <b>Home</b><br />
                Please utilize the provided account details and verify your log in via your assigned email account.<br />
                Should you encounter any issues logging in please use the help desk link below for assistance.
            </p>
        </div>
         <footer>
            <a href="{{ url_for('index') }}">Home</a>
           <!-- <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('help_desk') }}">Help Desk</a>
            <a href="{{ url_for('resources') }}">Resources</a>-->
            <br>
            &copy; 2023 {{ school_name }}. All rights reserved.
        </footer>
    </body>
</html>
