<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>School Management System</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_default.ico') }}">

        <style>
            
        </style>
    </head>

    <body>
        <header>
            <a><img src="{{ url_for('static', filename='school logo cs492.png') }}" height="40px" width="40px" /></a>
            <a href="{{ url_for('index') }}"><div class="current" >Home</div></a>
            <a href="{{ url_for('login') }}"><div>Log In</div></a>
        </header>
        <div id="content">
            <h1>Welcome to {{ school_name }}</h1>
            <p>
                <b>Home</b><br />
                Please utilize the provided account details and verify your log in via your assigned email account.<br />
                Should you encounter any issues logging in please use the help desk link below for assistance.
            </p>
        </div>
    </body>
</html>