<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_default.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %} | {{ school_name }}</title>
        {% block head %}
        {% endblock %}
        <style>
        .divider {
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }
        footer {
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px 0;
        }
        footer a {
            margin: 0 20px;
        }
        </style>
    </head>

    <body>
        <header>
            <!-- This eventually will contain a navbar / banner with links -->
            <!-- Will display only links that the account has access to -->
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.jpg') }}" height="40px" width="40px" /></a>
            {% for tab in allowed_tabs %}
                {% if tab == "login" %}
                    <a href="{{ url_for('login') }}"><div{{ ' class=current' if selected_tab == "login" else "" }}>Log In</div></a>
                {% endif %}
                {% if tab == "dashboard" %}
                    <a href="{{ url_for('index') }}"><div{{ ' class=current' if selected_tab == "dashboard" else "" }}>Home</div></a>
                {% endif %}
                {% if tab == "manage_accounts" %}
                    <a onclick="toggleAccountSubmenu();"><div{{ ' class=current' if selected_tab == "manage_accounts" else "" }}>Account Management</div></a>
                    <div id="submenu" style="display: none;">
                        <a href="{{ url_for('account_admin_page') }}"><div>Add New</div></a>
                    </div>
                {% endif %}
                {% if tab == "courses" %}
                    <div{{ ' class=current' if selected_tab == "courses" else "" }}>Courses</div>
                {% endif %}
                {% if tab == "logout" %}
                    <div>Log Out</div>
                {% endif %}
            {% endfor %}
        </header>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <br>
        
    <footer>
        <hr class="divider">
        <a href="#home">Home</a>
        <a href="#about_us">About Us</a>
        <a href="#help_desk">Help Desk</a>
        <a href="#resources">Resources</a>
        <br>
        &copy; {{ year }} {{ school_name }}. All rights reserved.
    </footer>
    </body>

    <script>
        function toggleAccountSubmenu() {
            var submenu = document.getElementById('submenu');
            if (submenu.style.display === "none") {
                submenu.style.display = "block";
            } else {
                submenu.style.display = "none";
            }
        }
    </script>
    
    {% block scripts %}
    {% endblock %}
</html>
