<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_default.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %} | {{ school_name }}</title>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <header>
            <!-- This eventually will contain a navbar / banner with links -->
            <!-- Will display only links that the account has access to -->
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='school logo cs492.png') }}" height="40px" width="40px" /></a>
            {% for tab in allowed_tabs %}
                {% if tab == "login" %}
                    <a href="{{ url_for('login') }}"><div{{ ' class=current' if selected_tab == "login" else "" }}>Log In</div></a>
                {% endif %}
                {% if tab == "dashboard" %}
                    <div{{ ' class=current' if selected_tab == "dashboard" else "" }}>Dashboard</div>
                {% endif %}
                {% if tab == "admin" %}
                    <div{{ ' class=current' if selected_tab == "admin" else "" }}>Admin</div>
                {% endif %}
                {% if tab == "courses" %}
                    <div{{ ' class=current' if selected_tab == "courses" else "" }}>Courses</div>
                {% endif %}
                {% if tab == "logout" %}
                    <div>Log Out</div>
                {% endif %}
            {% endfor %}
        </header>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
    </body>

    {% block scripts %}
    {% endblock %}
</html>