<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_default.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %} | {{ school_name }}</title>
        {% block head %}
        {% endblock %}

    </head>

    <body>
        <header>
            <!-- This eventually will contain a navbar / banner with links -->
            <!-- Will display only links that the account has access to -->
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.jpg') }}" height="50px" width="50px" /></a>
            {% if not session.get('role') %}
                <a href="{{ url_for('login') }}"><div{{ ' class=current' if selected_tab == "login" else "" }}>Log In</div></a>
            {% endif %}
            {% if session.get('role') %}
                <a href="{{ url_for('index') }}"><div{{ ' class=current' if selected_tab == "dashboard" else "" }}>Home</div></a>
            {% endif %}
            {% if session.get('role', 99) <= 2 %}
                <a onclick="toggleSubmenu('ManageAccounts');"><div{{ ' class=current' if selected_tab == "manage_accounts" else "" }}>Account Management</div></a>
                <div id="ManageAccounts" class="submenu-top" style="display: none;position: fixed;">
                    <div id="AddAccount" class="submenu" style="left: 225px; top: 50px;">
                        <a href="{{ url_for('account_admin_page') }}"><div>Add New</div></a>
                    </div>
                    <div id="EditAccount" class="submenu" style="left: 375px; top: -8px;">
                        <a href="{{ url_for('account_admin_page', action='Edit') }}"><div>Edit</div></a>
                    </div>
                </div>
            {% endif %}
            {% if session.get('role', 99) <= 2 %}
                <a href="{{ url_for('courses') }}"><div{{ ' class=current' if selected_tab == "manage_courses" else "" }}>Manage Classes</div></a>
                <!--<div{{ ' class=current' if selected_tab == "courses" else "" }}>Courses</div>-->
            {% endif %}
            {% if session.get('role', -1) >= 3 %}
                <a href="{{ url_for('courses') }}"><div{{ ' class=current' if selected_tab == "courses" else "" }}>Classes</div></a>
                <!--<div{{ ' class=current' if selected_tab == "courses" else "" }}>Courses</div>-->
            {% endif %}
            {% if session.get("role") %}
                <a href="{{ url_for('logout') }}"><div>Logout</div></a>
            {% endif %}
        </header>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <br/>
        
    <footer>
        <hr class="divider">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="#about_us">About Us</a>
        <a href="#help_desk">Help Desk</a>
        <a href="#resources">Resources</a>
        <br/>
        <br/>
        &copy; {{ year }} {{ school_name }}. All rights reserved.
    </footer>
    </body>

    <script>
        function toggleSubmenu(menuname) {
            var submenu = document.getElementById(menuname);
            if (submenu.style.display === "none") {
                submenu.style.display = "block";
            } else {
                submenu.style.display = "none";
            }
        }
    </script>
    
    {% block scripts %}
    {% endblock %}
</html>
